@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "vertical-small-card"
      "vertical-large-card"
      "first-box"
      "second-box"
      "third-box";
  }

  .vertical-small-card,
  .vertical-large-card,
  .card-1,
  .card-2,
  .card-3 {
    margin: 0;
  }

  .vertical-small-card {
    font-size: 12px;
    height: 75px;
  }

  .vertical-large-card {
    height: 200px;
  }
  .customers-feedback img{
    height: 120px;
    width: 120px;
  }

  .footer-data {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .offer-row {
    flex-direction: column;
  }
  .offer-img {
    width: 100%;
  }
  .offer-data {
    width: 100%;
  }
}
